<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Teste Suite">
	<test name="Teste" preserve-order="true">
		<classes>
			<class name="testclasses.TestNGAssert"></class>
			<class name="testclasses.TestNGSoftAssert"></class>
			<class name="dependentMethods.DependentMethods"></class>
		</classes>
	</test>
</suite>

